* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

form {
  display: inline-block; }

main .gridGeneration {
  display: grid;
  grid-template-areas: "title title" "form lista" "filters lista"; }
  main .gridGeneration .titleList {
    grid-area: title;
    text-align: center;
    padding: 1rem 0rem 1rem 0rem; }
  main .gridGeneration .conteinerForm {
    grid-area: form; }
    main .gridGeneration .conteinerForm .titleForm {
      text-align: center; }
    main .gridGeneration .conteinerForm .FormularioIngreso {
      display: flex;
      flex-flow: column nowrap;
      align-items: center; }
      main .gridGeneration .conteinerForm .FormularioIngreso .FormElement {
        padding: 0.5rem 0 0.5rem 0; }
  main .gridGeneration .filters {
    grid-area: filters;
    text-align: center;
    padding: 1rem 0 0 0; }
  main .gridGeneration .conteinerList {
    grid-area: lista;
    background-color: yellow; }
    main .gridGeneration .conteinerList .tableTitle {
      font-size: 2rem;
      padding: 0.5rem;
      text-align: center; }
    main .gridGeneration .conteinerList .table {
      margin: 0 auto; }
      main .gridGeneration .conteinerList .table tr td, main .gridGeneration .conteinerList .table tr th {
        padding: 0.5rem 0.7rem 0.5rem 0.7rem;
        text-align: center;
        border: solid 1px red;
        font-size: 1.3rem; }
