
@mixin grid-listas{
    display: grid;
    grid-template-areas: "title title"
                          "form lista" 
                          "filter lista";
    
}

@mixin grid-proveedor{
    display: grid;
    grid-template-areas: "title title"
                         "form  acces";
}

