@import "../../layaout/grid.scss";
@import "../../base/typo";
@import ".../../base/color";

body{ //provisorio
    .mainConteiner{
        grid-template-areas: "head"
                            "boton";
        height: 100vw;
        flex-flow: row nowrap;
        justify-content: center;
        h1{
            grid-area: head;
            text-align: center;
            padding: 2rem;
        }
        div{
            grid-area: boton;
            display: inline-block;
            width: 100vw;
            text-align: center;    
            a{  
                text-decoration: none;
                background-color: yellowgreen;
                padding: 0.5rem;
                border-radius: 10%;
                justify-self: center;
            }
        }
    }
}