@import "../../layaout/grid.scss";
@import "../../base/typo";
@import ".../../base/color";


   


.bodyIndex{ //provisorio
   
    .mainConteiner{
        grid-template-areas: "1"
                            "2";
        
        flex-flow: row nowrap;
        justify-content: center;
        .tituloIndex{
            grid-area: 1;
            text-align: center;
            padding: 2rem;
        }
        .contenedorButtonPpal{
            grid-area: 2;
            display: grid;
            margin: 2rem;
              
            .buttonAccesPpal{  
                text-decoration: none;    
                background-color: whitesmoke;
                font-weight: bold;
                font-size: 2rem;
                padding: 3rem;
                margin-bottom: 2rem;
                font-family: $Font-ppal;
                text-transform: uppercase;
                border-radius: 10%;
                justify-self: center;
            }
        }
    }
}