@import "../../layaout/grid.scss";
@import "../../base/typo";
@import ".../../base/color";
html{
    background-color: $buckgroundColor;
}
form{
    display: inline-block
}
body{  
    header{
        .conteinerHeader{
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            margin-top: 1rem;
            div a{
                text-decoration: none;
                font-family: $Font-Second;
                text-transform: uppercase;
                font-weight: bold;
                
            }
            div{
                background-color: $color-3;
                padding: 0.5em;
                border-radius: 0.5rem;
            }

        }
    }   
    main{    
        .gridGeneration{
            @include grid-listas;
            .titleList{
                grid-area: title;
                text-align: center;
                font-family: $Font-Second;
                font-size: 4rem;
                
                padding: 1rem 0rem 2rem 0rem ;
            }
            .conteinerForm{
                grid-area: form;
               
                background-color: $color-fondo-2;
                margin-left: 18%;
                padding: 3%;
                border-radius: 1rem;
                .titleForm{
                    text-align: center;
                    font-family: $Font-ppal;
                    padding-bottom: 1rem;
                }
                .FormularioIngreso{
                    display: flex;
                    flex-flow: column nowrap;
                    align-items: left;
                    
                    div input , select{
                        width: 100%;
                        border: 1.5px solid;
                        border-radius: 5px;
                        height: 1.5rem;
                    }
                    div input{
                        padding: 0.7rem;
                       
                    }
                    div select:focus{
                        outline: none;
                    }
                    div input:focus{
                        outline: none;
                    }
                    div .contenedorPN{
                        display: flex;
                        justify-content: space-between;
                        padding: 0.3rem ;
                        button{
                            border: none;
                        }
                    }
                    .FormElement{
                        padding: 0 0 0.5rem 0;
                        font-family: $Font-ppal;
                        font-size: 0.9rem;
                        font-weight: bold;   
                        text-transform: uppercase;
                    }  
                    div .block {
                        display: block;
                        padding-left: 0.3rem;
                        padding-bottom: 0.2rem;
                    }
                    .FormButton{  
                        display: flex;
                        justify-content: center;
                        .buttonAdd{
                            background-color: $tableColor;
                            margin: 0;
                            padding: 0.3rem;
                            border-width: 1px;
                            font-size: 1rem;
                            font-family: $Font-ppal;
                            font-weight: bold;
                            border-radius: 1rem;
                        }
                    }  
                }
            }
            .filters{
                grid-area: filtros;
                margin-top: 1rem;
                background-color: $color-fondo-2;
                margin-left: 18%;
                padding: 3%;
                border-radius: 1rem;
                h2{
                    text-align: center;
                    font-family: $Font-ppal;
                    font-size: 1.2rem;
                    padding-bottom: 1rem;
                }
                .conteinerDatosGuardados{
                    display: flex;
                    flex-flow: column nowrap;
                    align-items: left;
                    label{
                        font-family: $Font-ppal;
                        font-weight: bold;   
                        text-transform: uppercase;
                        display: block;
                        font-size: 0.9rem;
                        padding-left: 0.3rem;
                        padding-top: 0.2rem;
                        padding-bottom: 0.2rem;
                    }
                    select{
                        width: 100%;
                        border: 1.5px solid;
                        border-radius: 5px;
                        height: 1.5rem;
                    }
                }
                
            }
            .conteinerList{
                grid-area: lista;
                display: grid;
                grid-template: "titleList" 50px   
                                "Lista" auto;
                                    
                .ListHeader{
                    grid-area: titleList;       
                    display: flex;
                    background-color: $color-fondo-3; 
                    padding: 0.5rem;
                    margin: 0rem 1.5rem 0rem 1.5rem;
                    border-radius: 0.8rem;
                    justify-content: space-around;   
                    align-items: center;           
                    .tableTitle{
                        font-family: $Font-ppal;
                        font-weight: bold;
                        text-align: center;
                        font-size: 1.5rem;
                        text-align: center;
                    }
                    .monedaRef{
                        font-family: $Font-ppal;
                        font-weight: bold;
                        text-align: center;
                        font-size: 1.5rem;
                        
                    }
                    .conteinerButtons{         
                        display: flex;
                        justify-content: center;
                        height: 32px;
                        button{
                            padding-right: 0.2rem;
                            border: none;
                            background-color: $color-fondo-3;
                            padding-right: 1rem;
                        }
                        #ContenedorUSD{
                            background-color: $color-fondo-3;
                            font-size: 1.5rem;
                            background-color: #D9D79A;
                            padding: 0.2rem 0.5rem 0.2rem 0.5rem;
                            border-radius: 0.1rem;
                            font-family: $Font-ppal;
                            font-weight: bold;
                        }
                    }              
                }    
                .tableList{
                    grid-area: Lista;
                    display: flex;
                    margin-top: 1rem;
                    justify-content: center;
                    border-collapse: collapse; //colapsar celdas
                    tr{           
                        td, th{
                            padding: 0.5rem 0.7rem 0.5rem 0.7rem;
                            text-align: center;
                            border: solid 2px grey;
                            font-family: $Font-ppal;  
                            max-height: 43px;   
                        }  
                        th{
                            background-color: $color-fondo-2;
                            text-transform: uppercase; 
                            font-size: 0.8rem;
                            font-weight: bold;           
                        }
                        td{
                            background-color: white;
                            font-size: 0.8rem;
                        }
                     
                    }
                }
            }
        }
    }
}