@import "../../layaout/grid.scss";
@import "../../base/typo";
@import ".../../base/color";

body{
    .mainProveedor{
        @include grid-proveedor;                          
        h1{
            grid-area: title;
            text-align: center;
            padding: 2rem;
            font-size: 3rem;
            font-family: $Font-ppal;
        }
        .conteinerFormP{          
            grid-area: form;
            
            display: flex;
            justify-content: center;
            .ProveedorForm{  
                background-color: whitesmoke;  
                padding: 0.5rem 1rem 1rem 1rem;
                border-radius: 2rem;          
                .FormElementP{
                    display: block;
                    padding: 0.5rem;
                    label{
                        font-family: $Font-ppal;
                        font-weight: bold;
                        text-transform: uppercase;
                        margin: 0.2rem;
                        padding-bottom: 0.3rem;
                        display: block;
                        text-align: center;
                    }
                    input{
                        width: 100%;   
                    }
                }    
                .FormElementMoneda{
                    padding: 1rem;
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-around;
                    
                    
                }
                
                .FormButtonP{
                    display: flex;
                    flex-direction: row;
                    justify-items: center;
                    justify-content: center;
                    padding: 0.5rem;
                    .buttonAddP{
                        padding: 0.5rem;
                        font-size: 1rem;
                        border-radius: 0.3rem;
                        text-transform: uppercase;
                        background-color: white;
                    }
                }
            }
        }    
        .conteinerAcces{
            background-color: whitesmoke;
            grid-area: acces;
            width: 700px;
            display: flex;
            flex-flow: column;
            justify-self: center;
            border-radius: 2rem;
            .titleConteinerAcces{         
                text-align: center;
                padding: 2%;
                font-size: 1.8rem;
            }
            .acces{             
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                h3{
                    font-size: 1.5rem;
                    display: inline-block;
                    padding-right: 2rem;
                }
                
            }
            .infoProveedor div{
                display: grid;
                grid-template-areas: "1 2" 
                                    "3 4" 
                                    "5 6" 
                                    "7 8" 
                                    "9 10" 
                                    "11 12" ;
                padding: 1rem;
                justify-content: start;
                justify-items: start;
                gap: 1rem;
                h4{
                    margin: 0;
                    padding: 0;
                    font-family: $Font-ppal;
                    font-weight: bold;
                    text-transform: uppercase;
                    font-size: 1.2rem;
                }
                p {
                    font-size: 1.2rem;
                }
            }
        }
    }
}